<ion-header>
  <ion-toolbar>
    <ion-title>タスクを追加する</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="primary">タスク名</ion-label>
      <ion-input placeholder="入力" [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">詳細</ion-label>
      <ion-input placeholder="入力" [(ngModel)]="description"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="save()">追加</ion-button>
  <ion-button expand="block" color="light" (click)="cancel()">キャンセル</ion-button>
</ion-footer>
