<ion-header>
  <ion-toolbar>
    <ion-title>タスクの詳細</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      タイトル：{{item.title}}
    </ion-item>
    <ion-item>
      詳細：{{item.description}}
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
    <ion-button expand="block" (click)="close()">閉じる</ion-button>
    <ion-button expand="block" color="danger" (click)="delete()">削除</ion-button>
  </ion-footer>
