<ion-header>
  <ion-toolbar>
    <ion-title>
      ToDoApp
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showAddTask()"> 
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of list" (click)="showDetail(item)">{{ item.title }}</ion-item>
  </ion-list>
</ion-content>
